apiVersion: v1
kind: ServiceAccount
metadata:
  name: data-preprocessing-sa
  namespace: mlops
---
apiVersion: keda.sh/v1alpha1
kind: ScaledJob
metadata:
  name: data-preprocessing-job
  namespace: mlops
spec:
  minReplicaCount: 0
  maxReplicaCount: 10
  pollingInterval: 30
  failedJobsHistoryLimit: 5

  jobTargetRef:
    template:
      spec:
        serviceAccountName: data-preprocessing-sa
        restartPolicy: Never
        containers:
        - name: preprocessing
          image: 683313688378.dkr.ecr.us-east-1.amazonaws.com/sagemaker-scikit-learn:1.4-2-cpu-py3
          command: ["python3"]
          args:
            - /opt/ml/processing/input/code/preprocessing_script.py
          env:
          - name: INPUT_BUCKET
            value: eks-eventdriven-preprocessing-raw-data-bucket
          - name: OUTPUT_BUCKET
            value: eks-eventdriven-preprocessing-processed-data-bucket
          - name: AWS_REGION
            value: us-east-1
          - name: AWS_DEFAULT_REGION
            value: us-east-1
          - name: SQS_QUEUE_URL
            value: https://sqs.us-east-1.amazonaws.com/463470985368/eks-eventdriven-preprocessing-s3-event-queue
          volumeMounts:
          - name: script
            mountPath: /opt/ml/processing/input/code
          resources:
            requests:
              memory: "1Gi"
              cpu: "500m"
            limits:
              memory: "4Gi"
              cpu: "2000m"

        volumes:
        - name: script
          configMap:
            name: preprocessing-script
            defaultMode: 0755

  triggers:
  - type: aws-sqs-queue
    authenticationRef:
      name: aws-pod-identity-auth
    metadata:
      queueURL: https://sqs.us-east-1.amazonaws.com/463470985368/eks-eventdriven-preprocessing-s3-event-queue
      awsRegion: us-east-1
      messageReceiptThreshold: "1"
